.botonAdd {
    font-size: 12px;
    flex-direction: column;
    color: gray;
    margin-left: 23px;
    display: contents;
    align-items: center;
  }
  .boton2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-top: 20px;
  }
  .donadores {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .tituloDonor {
    text-align: center;
  }
  